<h1>Listing photographs</h1>

<table>
  <thead>
    <tr>
      <th>Album</th>
      <th>Title</th>
      <th>Description</th>
      <th>Asset url</th>
      <th>Created at</th>
      <th>Updated on</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photographs.each do |photograph| %>
      <tr>
        <td><%= photograph.album %></td>
        <td><%= photograph.title %></td>
        <td><%= photograph.description %></td>
        <td><%= photograph.asset_url %></td>
        <td><%= photograph.created_at %></td>
        <td><%= photograph.updated_on %></td>
        <td><%= photograph.user %></td>
        <td><%= link_to 'Show', photograph %></td>
        <td><%= link_to 'Edit', edit_photograph_path(photograph) %></td>
        <td><%= link_to 'Destroy', photograph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photograph', new_photograph_path %>
