<p id="notice"><%= notice %></p>

<p>
  <strong>Photograph:</strong>
  <%= @line_item.photograph %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @line_item.price_cents %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<p>
  <strong>User:</strong>
  <%= @line_item.user %>
</p>

<p>
  <strong>State:</strong>
  <%= @line_item.state %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
